<%= notice %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
      <%= render "new2", book: @book1 %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user.id) do  %>
                  <%= attachment_image_tag @user, :profile_image, :fill, size: "30x30", format: "jpeg", fallback: "no_image.jpeg" %>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
            <% if current_user.id == @user.id %>
              <td><%= link_to 'Edit', edit_book_path(@book.id) %></td>
              <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
            <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>





